<div id="textoCapitulo">
	
	<h2>Short example</h2>
	
	<p>This documentation will guide you on how to create a simple REST client using Restfulie.</p>

	<h3>The server</h3>
	
	<p>We will use the Restfulie's <a href="http://github.com/caelum/restfulie-test">ordering example application</a> in Rails as a server. Its source code is open and can be found at github, and <a href="http://restfulie-test.heroku.com/">a live version</a> can be found at heroku.</p>
	
	<h3>The client</h3>

</div>