<div id="textoCapitulo">
	
	<h2>What is new</h2>
	
	<h3>0.4</h3>
	<h4>Client</h4>			
		<ul>
			<li>support a get entry point</li>
			<li>support a XML</li>
			<li>follow links</li>
			<li>access web and response headers</li>
		</ul>	
</div>