<div id="textoCapitulo">
<h2>Installing</h2>

<p>Just add in your environment.rb the following line:</p>

<pre>
config.gem "restfulie", :version => "0.0.4", :source => "http://gemcutter.org"
</pre>

<p>And then execute:</p>

<pre>
rake gems:install
</pre>

<p>or, if you prefer to install it as a plugin:</p>

<pre>
script/plugin install git://github.com/caelum/restfulie.git	
</pre>
</div>