<div id="contentWrap">
	<!--<ul id="subMenu"><a href="#beneficios">Beneficios</a></li><li>|</li><a href="#depoimentos">Depoimentos</a></li></ul>-->          <div id="contentBeneficios">                                                                                                                                          
		<a rel="nofollow" name="depoimentos"></a>
        <h2>Documentation and Help</h2>

		<h3>The human touch</h3>

        <div class="depoimentoClientes">
        	<p><a href="http://groups.google.com/group/restfulie">restfulie mailing list</a> at google groups</p>
        	<em>mailing list</em>                
        </div>

        <div class="depoimentoClientes">
        	<p>
							Restfulie was created and is mantained by Caelum.<br/>
							<br/>
							project leader:<br/>
							<a href="http://www.twitter.com/guilhermecaelum">@guilhermecaelum</a>, <a href="http://www.caelumobjects.com">caelum</a><br/>
							<br/>
							
							rails:<br/>
							<a href="http://www.twitter.com/caueguerra">@caueguerra</a><br/>
							<br/>
							
							java:<br/>
							lucas cavalcanti, <a href="http://www.caelumobjects.com">caelum</a><br/>
							<br/>
							
							contributors:<br/>
							Diego Carrion<br/>
							Leandro Silva<br/>
							Gavin-John Noonan<br/>
							Fabio Akita<br/>
							Antonio Marques<br/>
							<br/>
							
					</p>
        	<em>team</em>                
        </div>

		<h3>Online documentation</h3>


		        <div class="depoimentoClientes">
		        	<p>Every language implementation has its own documentation, take a look at it, if you have not yet.</p>
		        	<em>documentation</em>                
		        </div>

		<h3>Articles</h3>
        
        <div class="depoimentoClientes">
        	<p>
        		<a href="http://guilhermesilveira.wordpress.com/2009/11/03/quit-pretending-use-the-web-for-real-restfulie/">Quit pretending, use the web for real</a>, the article that originated everything</li><br/>
					<a href="http://www.infoq.com/news/2009/12/restfulie-interview">An interview with Guilherme Silveira at infoq.com</a><br/>
					<a href="http://www.infoq.com/news/2009/11/restfulie-hypermedia-services">Restfulie @ infoq</a><br/>
					<a href="http://ruby5.envylabs.com/episodes/26-episode-25-november-6-2009/stories/201-restfulie">Ruby5 podcast on Restfulie</a><br/>
					<a href="http://www.techstartups.com/2009/11/17/real-time-ruby-is-a-gem-called-restfulie/">Techstartup on restfulie</a><br/>
					<a href="http://wikis.sun.com/display/Jersey/Hypermedia+and+Client+APIs">Sun Wikis</a><br/>
        	</p>
        	<em>English articles</em>
		</div>


        <div class="depoimentoClientes">            	
        <p>
			Portuguese:<br/>
        	<a href="http://wakethedead.com.br/blog/70-restfulie">portuguese tutorial on server side support</a><br/>
			<a href="http://andersonleiteblog.wordpress.com/2009/11/23/mais-sobre-restfulie/">more on restfulie</a><br/>
			<br/>
			Chinese:<br/>
			<a href="http://www.infoq.com/cn/news/2009/11/restfulie-hypermedia-services">infoq announcement on restfulie</a>
			<a href="http://www.infoq.com/cn/news/2009/11/restfulie">infoq on restfulie</a>
			<a href="http://www.infoq.com/cn/news/2009/11/restfulie-interview">infoq interview with guilherme silveira</a>
			<br/>
			Japanese:<br/>
			<a href="http://www.infoq.com/jn/news/2009/11/restfulie">infoq on restfulie</a>
			<a href="http://www.infoq.com/jn/news/2009/11/restfulie-interview">infoq interview with guilherme silveira</a>
			<a href="http://www.infoq.com/jn/news/2009/11/restfulie-hypermedia-services">infoq announcement on restfulie</a>
        </p>
        	<em>Other languages</em>                 
        </div><!-- depoimento -->


<!--        <div class="depoimentoClientes">
        	<p>@jimwebber @restfulie at any event, I think that a restfulie like standardized media type manipulation is worth adding to RESTEasy.</p>
        	<em><a href="http://twitter.com/sduskis/statuses/6309892789">Solomon Duskis</a></em>                
        </div>-->

<br/>   
                       
    </div><!-- contentBeneficios -->
</div><!-- content wrap-->